<template>
  <div class="luckbg">
     <table class="table">
       <tr class="tr">
         <td class="td" :class="{'actived':actIndex== 1}">奖品1</td>
         <td class="td" :class="{'actived':actIndex== 2}">奖品2</td>
         <td class="td" :class="{'actived':actIndex== 3}">奖品3</td>
       </tr>
        <tr class="tr">
         <td class="td" :class="{'actived':actIndex== 8}">奖品8</td>
         <td class="td luckbtn" @click="startAction()">抽奖</td>
         <td class="td" :class="{'actived':actIndex== 4}">奖品4</td>
       </tr>
        <tr class="tr">
         <td class="td" :class="{'actived':actIndex== 7}">奖品7</td>
         <td class="td" :class="{'actived':actIndex== 6}">奖品6</td>
         <td class="td" :class="{'actived':actIndex== 5}">奖品5</td>
       </tr>
     </table>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      actIndex: 0,
      isflag:true,//是否可以抽奖 true 可以
      prize:'',//中奖编号
      totalStep:0,//转动总步数
      circle:4,//基础圈数4圈
      speed:{//转动速度
        fast:100,
        slow:200
      }
    }
  },
  mounted(){
    this.getPrize()
    this.totalStep = this.circle * 8 + this.prize;//算出需要转动的总步数
    console.log(this.totalStep)
   

  },
  methods:{
    getPrize(){
      this.prize = Math.floor(Math.random() * 7 + 1)
    },
    startAction(){
      if(this.isflag){
        this.isflag = false;
        console.log('go')
        this.goAction()
      }else{
        this.$dialog.toast({
            mes: '您已参加过抽奖~',
            timeout: 1500
        });
      }
    },
    goAction(){
      if (this.totalStep > 8) {
        setTimeout(this.goAction, this.speed.fast);
      }else if(this.totalStep > 1){
        setTimeout(this.goAction, this.speed.slow);
        this.speed.slow += 80
      }else{
        setTimeout(()=>{
          var prizeTxt = document.getElementsByClassName('actived')[0].innerHTML
          this.$dialog.toast({
              mes: `恭喜你获得${prizeTxt}`,
              timeout: 2000
            });
        },1000)
      }
      this.actIndex ++;
      this.totalStep --;
      // console.log(this.totalStep)
      if(this.actIndex == 9){
        this.actIndex = 1
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.luckbg{
  text-align: center;
}
.actived{
  background: #fed037!important;
  border: 3px solid #FCB208!important;
}

.table{
  // width: 100%;
  margin: 0 auto;
  .tr{
    .td{
      width: 2rem;
      height: 2rem;
      background: #f9ebbd;
      font-size: .36rem;
      color: #ffffff;
      text-align: center;
      border-radius: 3px;
      border: 3px solid #f7e2ba;
      font-weight: 700;
    }
  }
}
.luckbtn{
  background:#fb5731!important; 
  color: #f9da34!important;
  font-size: .56rem!important;
  text-shadow:5px 1px 6px #f9da34 
}
</style>
