<template>
    <div>
        <div v-if="!isshow" class="home">
            <img class="title" src="static/images/title.png" alt="">
            <input style="margin-top: -1.2rem;" class="_input" type="tel" v-model="mobile"  maxlength="11" >
            <div @click="goNext()">
                <btn class="pos">前往参与抽奖</btn>
            </div>
            <span class="hdxz" @click="showhdxz(true)">活动细则</span>
        </div>
        <div v-if="isshow" :class="{'fadeIn':isshow}" class="home" >
            <img class="hdxzimg" src="static/images/hdxz.png" alt="">
            <div @click="showhdxz(false)">
                <btn class="hdxzpos" >我已了解</btn>
            </div>
        </div>
        <div v-show="showpop" class="popup">
            <div class="popbox">
                <div class="poptop">
                    <img src="static/images/xiong.png" alt="">
                    <div class="right">
                        <p>请先输入您的手机号码：</p>
                        <input class="_input" type="tel" v-model="mobile"  maxlength="11" >
                    </div>
                </div>
                <div class="popbottom">
                    <div @click="goNext()">
                        <btn class="hdxzpos">确&nbsp;&nbsp;&nbsp;认</btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import btn from '@/base/btn'
let phoneTest= /^1[3456789]\d{9}$/  //手机号正则表达式
export default {
    components:{
        btn
    },
    data(){
        return{
            isshow:false,
            mobile:'',
            showpop:false
        }
    },
    methods:{
        showhdxz(flag){
            this.isshow = flag;
        },
        goNext(){
            if(this.mobile == null || this.mobile==""){
                this.showpop = true
            }else{
                if(!phoneTest.test(this.mobile)){
                     this.$dialog.toast({
                        mes: '手机号码格式错误',
                        timeout: 1500
                    });
                }else{
                    localStorage.setItem('Mobile',this.mobile)//本地存储手机号码
                     this.$router.replace('/upload')
                }
            }
        }
    }
}
</script>

<style lang="less">
    input:focus{
        border:1px solid #ecac5f!important
    }
    .popup{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        .popbox{
            position: absolute;
            width: 80%;
            height: 5rem;
            background: #fef0d1;
            border-radius: 3px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            .poptop{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.7rem 0.4rem;
                img{
                    width: 35%;
                }
                .right{
                    width: 65%;
                    p{
                        color:#ecac5f;
                        font-size: 0.28rem;
                        font-weight: 700;
                        margin-left: 10px;
                        padding: 0.2rem 0;
                    }
                    input{width: 100%;}
                }

            }
        }
    }
     ._input{
            width: 50%;
            border: none;
            background: #ffffff;
            height: 0.6rem;
            border-radius: 0.6rem;
            padding: 0 0.5rem;
            color: #6b8349;
            box-sizing: border-box;
            position: relative;
            z-index: 4;
        }
    .home{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
        .title{
            width: 60%;
            position: relative;
        }
       
        .pos{
            margin-top: 0.6rem;
        }
        .hdxz{
            margin-top: 0.4rem;
            font-size: 0.3rem;
            color: #6b8349;
            border-bottom: 1px solid #6b8349;
            padding-bottom:1px;
        }
        .hdxzimg{
            width: 70%;
            margin-top: -1.2rem;
        }
        .hdxzpos{
             margin-top: 0.2rem;
        }
    }
   
</style>
