<template>
    <div class="loading">
        <img class="lotxt" src="static/images/loading.png" alt="">
    </div>
</template>

<script>
export default {
data () {
    return {
      count: 0,
      percent:'',
      imglength:0
    }
  },
  mounted: function() {
    this.preload()
  },
  methods: {
    preload: function() {
      let imgs = [
        "static/images/bgbottom.png",
        "static/images/bgbtn.png",
        "static/images/bgtop.png",
        "static/images/center.png",
        "static/images/hdxz.png",
        "static/images/main.png",
        "static/images/pan.png",
        "static/images/point.png",
        "static/images/point1.png",
        "static/images/pop.png",
        "static/images/title.png",
        "static/images/uping.png",
        "static/images/xiong.png",
        "static/images/xpstyle.png", 
        "static/images/loading.png", 
      ]
      this.imglength = imgs.length

      for (let img of imgs) {
        let image = new Image()
        image.src = img
        image.onload = () => {
          this.count++
           // 计算图片加载的百分数，绑定到percent变量
          let percentNum = Math.floor(this.count / this.imglength * 100)
          this.percent = `${percentNum}%`
          console.log(this.percent)
        }
      }

    },
  },
  watch: {
    count: function(val) {
      console.log(val)
      if (val === this.imglength) {
       
      }
    }
  }
}
</script>

<style scoped lang="less">
    .loading{
        width: 100%;
        height: 100%;
        background: #fef0d1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .lotxt{
            width: 50%;
        }
    }
</style>
