<template>
    <div  class="sharebg">
        <img class="main" src="static/images/main.png" alt="">
        <div class="btng" @click="share(true)">
            <btn>邀请好友参加</btn>
        </div>
        <div @click="share(false)" v-show="isshow" class="popups">
            <img src="static/images/pop.png" alt="">
        </div>
    </div>
</template>

<script>
import btn from '@/base/btn'

export default {
    components:{
        btn
    },
    data(){
        return{
            isshow:false
        }
    },
    methods:{
        share(flag){
            this.isshow = flag;
        }
    }
}
</script>

<style lang="less">
    .popups{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        img{
            position: absolute;
            width: 30%;
            right: 20px;
            top: 20px;
            }
    }
    .sharebg{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main{
            width: 43%;
        }
    }
    .btng{
        margin-top: 0.3rem;
    }
</style>
