<template>
  <div>
    <div v-show="avatarUrl == '' && !isloading" class="xpstyle">
      <img src="static/images/xpstyle.png" alt />
      <div class="mt">
        <btn class="hdxzpos">立即上传</btn>
        <input class="fileinput" ref="inputfile" accept="image/*" multiple @change="upFile($event)" type="file" />
      </div>
    </div>
    <div v-show="avatarUrl  && !isloading" class="borderBox">
      <div class="box">
        <img :src="avatarUrl" alt />
      </div>
      <div class="btnbox">
        <div @click="chose()">
          <btn>重拍</btn>
        </div>
        <div @click="gonext()">
          <btn>确认</btn>
        </div>
      </div>
    </div>
    <div v-show="isloading" class="loading">
        <div class="panbox">
            <img class="pan" src="static/images/pan.png" alt="">
            <div class="pointb">
                <img class="point" src="static/images/point.png" alt="">
            </div>
            <img class="center" src="static/images/center.png" alt="">
        </div>
        <img class="uping" src="static/images/uping.png" alt="">
    </div>
  </div>
</template>

<script>
import btn from "@/base/btn";
var canvas,base64
export default {
  components: {
    btn
  },
  data() {
    return {
      avatarUrl: "",
      isloading:false,
      ImageUrl:''
    };
  },
  methods: {
    upFile(e) {
        this.isloading = true
      //   this.$dialog.loading.open("图片正在上传中。。");
      let that = this;
      var file = e.target.files[0];
      console.log(file)
      //  如果当前文件流为空 不做任何处理  
      if(file == "" || file == null || file == undefined){
          this.isloading = false
          return
      }
      this.ImageUrl = e.target.files[0];//传给后台 入库
      var suffix = file.name.substring(file.name.lastIndexOf(".") + 1).toUpperCase();
      //判断是否 是图片格式
      if (suffix != "BMP" && suffix != "JPG" && suffix != "JPEG" && suffix != "PNG" && suffix != "GIF") {
        // that.$dialog.loading.close();
        this.isloading = false
        this.$dialog.toast({
          mes: "请上传图片格式哦~",
          timeout: 2000
        });
      } else {
        var reader = new FileReader();
        reader.readAsDataURL(file); //转base64
        reader.onload = function(e) {
        
          var file_result = e.target.result;
          that.getImgOrientation(file, file_result) //解决手机端会自动旋转图片
        }
      }
    },
    //获取图片旋转的参数
    getImgOrientation(file, file_result) {
        var that = this;
        EXIF.getData(file, function() {
            var Orientation = EXIF.getTag(this, "Orientation") || 0;//获取当前图片方向
            console.log("Orientation>>>>>>", Orientation);
            that.startFileToImg(file, file_result, Orientation)
        });
    },
    startFileToImg(file, file_result, Orientation) {
        var that = this;
        var newImg = new Image();
        newImg.src = file_result;
        //增加这一行：
        newImg.setAttribute("crossOrigin",'anonymous');
        newImg.onload = function () {
          var expectWidth = newImg.width;
          var expectHeight = newImg.height;
          var canvas = document.createElement("canvas");
          var ctx = canvas.getContext("2d");
          canvas.width = expectWidth;
          canvas.height = expectHeight;
          ctx.drawImage(newImg, 0, 0, expectWidth, expectHeight);
          //为1表示图片方向正常 为0表示是电脑端上传图片
            if (Orientation == 1 || Orientation == 0) {
                console.log("图片无需处理");//图片无需处理 直接显示图片 并将loading隐藏 
                base64 = canvas.toDataURL(file.type, 0.5);
                
                that.avatarUrl = base64
                // console.log(that.avatarUrl)
                // that.$dialog.loading.close();
                that.isloading = false
            } else if (Orientation !== "" && Orientation != 1){
                switch (Orientation) {
                    case 6:
                        console.log("顺时针旋转270度");
                        that.rotateImg(newImg, "left", canvas);
                        break;
                    case 8:
                        console.log("顺时针旋转90度");
                        that.rotateImg(newImg, "right", canvas);
                        break;
                    case 3:
                        console.log("顺时针旋转180度");
                        that.rotateImg(newImg, "horizen", canvas);
                        break;
                }
                //输出转换后的base64图片
                base64 = canvas.toDataURL(file.type, 0.5);
                // console.log(base64)
                that.avatarUrl = base64
                // that.$dialog.loading.close();
                that.isloading = false
            };
        }
    },
    //旋转图片
    rotateImg(img, direction, canvas) {
        console.log('rotateImg-------');
        //最小与最大旋转方向，图片旋转4次后回到原方向
        var min_step = 0;
        var max_step = 3;
        //var img = document.getElementById(pid);
        if (img == null) return;
        //img的高度和宽度不能在img元素隐藏后获取，否则会出错
        var height = img.height;
        var width = img.width;
        //var step = img.getAttribute('step');
        var step = 2;
        if (step == null) {
            step = min_step;
        }
        if (direction === 'right') {
            step++;
            //旋转到原位置，即超过最大值
            step > max_step && (step = min_step);
        } else {
            step--;
            step < min_step && (step = max_step);
        }
        //旋转角度以弧度值为参数
        var degree = step * 90 * Math.PI / 180;
        var ctx = canvas.getContext('2d');
        switch (step) {
            case 0:
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0);
                break;
            case 1:
                canvas.width = height;
                canvas.height = width;
                ctx.rotate(degree);
                ctx.drawImage(img, 0, -height);
                break;
            case 2:
                canvas.width = width;
                canvas.height = height;
                ctx.rotate(degree);
                ctx.drawImage(img, -width, -height);
                break;
            case 3:
                canvas.width = height;
                canvas.height = width;
                ctx.rotate(degree);
                ctx.drawImage(img, -width, 0);
                break;
        }
    },
    //重新拍照
    chose() {
      this.avatarUrl = "";
      this.$refs.inputfile.click();
    },
    gonext(){
        //数据存储 
        this.$dialog.loading.open();
        var Mobile = localStorage.getItem('Mobile')//获取本地存的手机号码
        // console.log(this.avatarUrl)
        $.ajax({
          url:'http://campaign.shjiaoai.com/qingfeng/api/Server/Save',
          data:{
              Mobile: Mobile, //手机号码
              base64ImgStr:this.avatarUrl //文件流     
          },  
          type:'post',  
          dataType:'json',  
          success:(data)=>{      
            console.log(data);
            this.$dialog.loading.close();
            if(data.Success){
              this.$router.replace('/share')
            }else{
              this.$dialog.toast({
                    mes: data.Msg ,
                    timeout: 1500
                });
            }
          },
          error: function (error) {
            this.$dialog.loading.close();
                this.$dialog.toast({
                    mes: '服务器开小差了' ,
                    timeout: 1500
                });
          },
        });
        // saveInfo(Mobile,this.avatarUrl).then(res =>{
        //   console.log(res)
        //     this.$dialog.loading.close();
        //     if(res.data.Status){
        //           this.$router.replace('/share')
        //     }else{
        //         this.$dialog.toast({
        //             mes: res.data.Msg ,
        //             timeout: 1500
        //         });
        //     }
        // })

        
    }
  }
};
</script>

<style lang="less">
.loading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .panbox{
        width: 4.6rem;
        height: 4.6rem;
        position: relative;
        .pan{
            width: 100%;
        }
        .pointb{
            width: 60px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%;-60%);
            .point{
               width: 100%;
               transform-origin: 50% 61.5%;
               animation: myrotate 1.5s infinite linear;
            }
        }
        
        .center{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%;-50%)
        }
    }
    .uping{
        width: 30%;
        margin-top: .4rem;
    }
}
.fileinput {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.mt {
  margin-top: 0.3rem;
  position: relative;
}
.xpstyle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  img {
    width: 60%;
    margin-top: -0.5rem;
  }
}

.borderBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  .box {
    border: 2px solid #688147;
    margin-top: -0.5rem;
    width: 60%;
    height: 7.5rem;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .btnbox {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}
</style>
