<template>
  <div id="app">
    <router-view/>
    <bottom v-show="show"></bottom>
  </div>
</template>

<script>
import bottom from "@/base/bottom"
export default {
  name: 'App',
  components:{
    bottom
  },
  data(){
    return{
      count: 0,
      percent:'',
      imglength:0,
      show:true
    }
  },
  mounted(){
    this.preload()
     document.body.addEventListener('focusin', (e) => {  //软键盘弹起事件
        if(e.target.type != 'file'){
            this.show = false;  
          // document.getElementById('mibottom').style.position = "static"
        }
      })
       document.body.addEventListener('focusout', () => {  //软键盘弹起事件
          setTimeout(()=>{
            this.show = true; 
            // document.getElementById('mibottom').style.position = "fixed"
          },300)
           if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            //软键盘收起的事件处理
            setTimeout(() => {
              const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0
              window.scrollTo(0, Math.max(scrollHeight - 1, 0))
            }, 100)
          }
      })
  },
  methods:{
     preload: function() {
      let imgs = [
        "static/images/bgbottom.png",
        "static/images/bgbtn.png",
        "static/images/bgtop.png",
        "static/images/center.png",
        "static/images/hdxz.png",
        "static/images/main.png",
        "static/images/pan.png",
        "static/images/point.png",
        "static/images/point1.png",
        "static/images/pop.png",
        "static/images/title.png",
        "static/images/uping.png",
        "static/images/xiong.png",
        "static/images/xpstyle.png", 
        "static/images/loading.png", 
        "static/images/bar.png",
        "static/images/inb.png", 
        "static/images/outb.png", 
      ]
      this.imglength = imgs.length

      for (let img of imgs) {
        let image = new Image()
        image.src = img
        image.onload = () => {
          this.count++
           // 计算图片加载的百分数，绑定到percent变量
          let percentNum = Math.floor(this.count / this.imglength * 100)
          this.percent = `${percentNum}%`
          document.getElementById('_bar').style.backgroundSize = `${percentNum}% 100%`
          // console.log(this.percent)
        }
      }

    },
   
  },
  watch: {
    count: function(val) {
      if (val === this.imglength) {
        document.body.removeChild(document.getElementById('Loading'))
      }
    }
  }
}
</script>

<style>
body{
  background: #fef0d1!important
}
#app{
  width: 100%;
  height: 100%;
  background: url('https://donateblood.gypserver.com/Breeze/static/images/bgtop.png') no-repeat;
  background-size: 95%;
  background-position: top right;
  position: relative;
  z-index: 2;
  padding-top: 2.5rem;
}
.fadeIn{
  animation: fadeIn 1s forwards;
}
.fadeOut{
  animation: fadeOut 1s forwards;
}
/* 旋转 */
    
    @-webkit-keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
 /* 淡现 */
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* 淡隐 */
  @-webkit-keyframes fadeOut {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  
  @keyframes fadeOut {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
</style>
