<template>
    <div class="bgbottom">
        <img  id="mibottom" src="static/images/bgbottom.png" alt="">
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
    .bgbottom{
       img{
           width: 100%;
           position: fixed;
           bottom: 0.3rem!important;
           left: 0;
           z-index: -1;
       }
    }
</style>
