<template>
    <div class="_btn">
        <slot></slot>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    ._btn{
        min-width: 1.6rem;
        width: auto;
        height: 0.75rem;
        background: url('https://donateblood.gypserver.com/Breeze/static/images/bgbtn.png') no-repeat;
        background-size: 100%  100%;
        color: #ffffff;
        font-size: .30rem;
        font-weight: 700;
        padding: 0 0.55rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
